#foto-principal {
    max-width: 20%;
}

img {
    position: relative;
}

body {
    background-color: darkolivegreen;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}


p {
    font-size: 30px;
}

li {
    font-size: 30px;
}

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}

/*Abaixo está o rodapé(footer)*/
.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: dimgrey;
    align-items: center;
    padding: 10px;
    width: 70%;
    align-self: center;
}

.mensagem {
    color: black;
    font-size: 30px;
}

#footer-detalhes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
}

@media (max-width: 400px) {
    .main-footer {
        flex-direction: column;
        max-width: 100%;

    }

    .mensagem {
        color: black;
        font-size: 18px;
    }

    #foto-principal {
        max-width: 50%;
    }
}